 .detail {
    background-color:rgb(224, 218, 218);
    padding: 20px 0; 
}

.product-detail {
    width: 60%;
    background-color: white;
    padding: 10px 0;
    border-radius: 10px;
    text-align: center;
}

.product-detail img {
   width: 50%;
   border-radius: 10px;
}

@media (max-width: 700px) {
    .product-detail {
        width: 100%;
    }   
    .product-detail img {
   width: 100%;
}

    
}

.add-btn {
     width: 80%;
     margin: 0 auto;
     display: flex;
     justify-content: center;
     background-color:#fd7e14;
     color: white;
     border: none;
     border-radius: 10px;
    }

.belel {
    width: 30%;
    margin: 0 auto;
}

.cal-btn {
    width:25%;
    background-color: #fd7e14;
    color: white;
    border: none;
}    