.covered-area{
    background-color:#ff9900;
    padding: 5px 0;
    /* min-height: 12000px; */
    min-height: auto;
    
}


.contained {
    background-color: white;
    padding: 10px;
    padding-bottom: 0 !important;
    border-radius: 10px;
    container-type: inline-size;
}

.sec-gride {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.sec-card {
    background-color:rgb(255, 251, 251);
    width: 16%;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
}

.sec-img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

@container (max-width: 1200px) {
    .sec-card p {
        font-size: clamp(5px,2cqi,15px);
    }
}

.sec-flash {
    background-color:#8e6e72;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    align-items: center;
    height:50px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.third-flash {
    font-size: 20px;
    height: 50px;
    display: flex;
    /* font-weight: 600; */
}

.items-four {
    background-color: white;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}  

.four-flash {
    background-color:white;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    align-items: center;
    height:50px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

@container (max-width: 1200px) {
    .sec-flash, .third-flash, .four-flash {
        font-size: clamp(5px,3cqi,20px);
    }
}


.write-up{
    background-color: white;
    height: auto;
    margin: 20px 0;
    border-radius: 10px;
    padding: 20px 15px;
    container-type: inline-size;
    margin-top: 20px;
    border: 10px dashed goldenrod;
}

.write-up h5,h6 {
    margin-bottom: 18px;
}

@container (max-width: 1200px) {
    .write-up,h5,h6{
        font-size: clamp(5px,2cqi,25px);
        line-height: 15px;
    }
    .write-up p {
         font-size: clamp(5px,1.5cqi,12px);
         line-height: 15px;
    }
    
    
    /* .write-up h5,h6{
        font-size: clamp(5px,2cqi,25px);  
        line-height: auto;
    } */
}